.searchBox {
  width: 80%;
  margin-left: 10px;
}

.add_csm {
  width: 95px;
  height: 37px;
  background-color: blue;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0 4px 4px 0;
  text-align: center;
  cursor: pointer;
  border-color: blue;
}
.search_and_csm {
  display: inline-block;
  display: flex;
  flex-direction: row;
}
